/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #000000;
  color: #8c98ff;
  background-color: #00264a;
}

body {
background-color: aqua;
}

h1 {
font-size: 200%;
color:black
}

h2 {
font-size: x-large;
color:black
}

p {
font-size: large;
color: black;
}