/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #000000;
  color: #000000;
  background-color: #00264a;
  font-size: x-large;
}

body {
background-color: aqua;
}

h1 {
font-size: 200%;
color:black
}

h2 {
font-size: xx-large;
color:black
}

p {
font-size: x-large;
color: black;
}

  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px;
    background-color: rgb(8, 160, 177);
    color: rgb(8, 160, 177)
  }

  .button {
    background-color: rgb(8, 160, 177);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    color:#4e0852;
    padding: 20px;
    margin-left: 10px;
    text-align: center;
  }