#content {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    color: #8c98ff;
    background-color: #00264a;
  }
  
  body {
  background-color: aqua;
  }
  
  h1 {
  font-size: 200%;
  color:black
  }
  
  h2 {
  font-size: x-large;
  color:black
  }
  
  p {
  font-size: large;
  color: black;
  }